<pre>
(\/)
(='')_旦
</pre>
<h1>
    nibbu
</h1>
{{ template "navigation" .}}
<p>Nibbu is a tiny and cozy blogging platform.</p>
<ul>
    <li>no ads, minimal js, minimal cookies</li>
    <li>rss</li>
    <li>themes</li>
    <li>tiny api</li>
    <li>private blogs</li>
    <li>lists</li>
    <li>custom domains</li>
    <li>export</li>
</ul>
<!-- <div id="list">
    {{ template "list" . }}
</div> -->
<p>
    <i>Grab a cup, relax, and enjoy the warmth of words.</i>
</p>
<footer>
    <p>made by <a href="https://usysrc.dev/">usysrc</a></p>
</footer>