<div id="login">
    {{ if .User.LoggedIn }}
    Hello, {{ .User.Username }}!
    <a href="/logout"><button>logout</button></a>
    {{ else }}
    <form hx-boost=" true" hx-post="/loginuser" hx-ext="json" hx-target="#login" hx-swap="innerHTML">
        Username
        <input type="text" name="username" placeholder="" required>
        Password
        <input type="password" name="password" placeholder="" required>
        <button>login</button>
        <a href="/register">register</a>
        {{ if .LoginFailed }}
        <div style="color:#f00">Login Failed! Please check username and password.</div>
        {{ end }}
    </form>
    {{ end }}
</div>